<div class="" ng-controller="SVTInvoiceController">
    <div class="col-md-12">
        <form class="form-horizontal" name="InvoiceForm">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            Select Company Name <span style="color:red;">*</span>
                        </label>
                        <div class="col-md-8">
                            <select style="cursor:pointer" ng-model="CompanyID" ng-options="x.Company_ID as x.Company_Name for x in CompanyList" class="form-control" ng-change="SelectCompany(CompanyID)">
                                <option value=""> -- Select Company-- </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            Invoice Date <span style="color:red;">*</span>
                        </label>
                        <div class="col-md-8" ng-class="{'has-error':InvoiceForm.Invoice_Date.$invalid && !InvoiceForm.Invoice_Date.$pristine}">
                            <input type="date" ng-model="Invoice_Date" name="Invoice_Date" class="form-control remove-arrows" ng-disabled="viewDisabled" placeholder="Invoice Date" required />
                            <p ng-show="showMsgs && InvoiceForm.Invoice_Date.$error.required" class="amtclr" style="color:red;">Invoice Date is required</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            Sales Order Number <span style="color:red;">*</span>
                        </label>
                        <div class="col-md-8">
                            <div class="" ng-class="{'has-error':InvoiceForm.So_num.$invalid && !InvoiceForm.So_num.$pristine}">
                                <input type="number" ng-model="So_num" name="So_num" class="form-control remove-arrows" placeholder="Sales Order Number" required />
                                <span ng-show="ShowMsgs && InvoiceForm.So_num.$error.required" style="color: red">Sales Order Number is required.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            Mine Name <span style="color:red;">*</span>
                        </label>
                        <div class="col-md-8">
                            <div class="" ng-class="{'has-error':InvoiceForm.Mine.$invalid && !InvoiceForm.Mine.$pristine}">
                                <input type="text" ng-model="Mine" name="Mine" class="form-control" placeholder="Mine Name" required />
                                <span ng-show="ShowMsgs && InvoiceForm.Mine.$error.required" style="color: red">Mine Name is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            Material Description <span style="color:red;">*</span>
                        </label>
                        <div class="col-md-8">
                            <div class="" ng-class="{'has-error':InvoiceForm.Material_Desc.$invalid && !InvoiceForm.Material_Desc.$pristine}">
                                <input type="text" ng-model="Material_Desc" name="Material_Desc" class="form-control" placeholder="Material Description" required />
                                <span ng-show="ShowMsgs && InvoiceForm.Material_Desc.$error.required" style="color: red">Material Description is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">
                            HSN Code <span style="color:red;">*</span>
                        </label>
                        <div class="col-md-8">
                            <div class="" ng-class="{'has-error':InvoiceForm.HsnCode.$invalid && !InvoiceForm.HsnCode.$pristine}">
                                <input type="number" ng-model="HsnCode" name="HsnCode" class="form-control remove-arrows" placeholder="HSN Code" required />
                                <span ng-show="ShowMsgs && InvoiceForm.HsnCode.$error.required" style="color: red">HSN Code is required.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="" ng-show="GridShow">
                <table class="table table-bordered table-condensed table-striped">
                    <tr class="fc-theme">
                        <th class="sbold" style="width:1%">S.No</th>
                        <th class="sbold text-center">DC Date</th>
                        <th class="sbold text-center">Vechile No</th>
                        <th class="sbold text-center">DC Number</th>
                        <th class="sbold text-center">Qty in MT</th>
                        <th class="sbold text-center">Rate/MT</th>
                        <th class="sbold text-center">Total </th>
                    </tr>
                    <tr class="" ng-repeat="Invoice in InvoiceDetailsList">
                        <td class="">{{$index+1}}</td>
                        <td class="text-center">{{Invoice.DcDate | date:'dd-MM-yyyy'}}</td>
                        <td class="text-center">{{Invoice.VehicleNumber}}</td>
                        <td class="text-center">{{Invoice.DCNum}}</td>
                        <td class="text-center">{{Invoice.Quantity}}</td>
                        <td class="text-center">{{Invoice.UnitPrice | INR}}</td>
                        <td class="text-center">{{Invoice.TotalAmount | INR}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-12" style="padding-top:25px">
                <ul class="list-inline order-history-search">
                    <li class="search-date">
                        <div class="form-inline">
                            <div class="input-group input-append date">
                                <span class="input-group-addon" style="padding: 6px 4px;">Dc Date</span>
                                <input type="date" style="max-width:175px" class="form-control" ng-model="DcDate" name="DcDate" placeholder="DD-MM-YYYY" />
                            </div>
                        </div>
                    </li>
                    <li class="search-date">
                        <div class="form-inline">
                            <div class="input-group input-append date">
                                <span class="input-group-addon" style="padding: 6px 4px;">Vehicle Number</span>
                                <input type="text" style="max-width:175px" class="form-control" ng-model="Vehicle_num" name="Vehicle_num" placeholder="Vehicle Number" />
                            </div>
                        </div>
                    </li>
                    <li class="search-date">
                        <div class="form-inline">
                            <div class="input-group input-append date">
                                <span class="input-group-addon" style="padding: 6px 4px;"> DC Number</span>
                                <input type="number" style="max-width:175px" ng-model="DcNum" name="DcNum" placeholder="DC Number" class="to_date form-control remove-arrows" />
                            </div>
                        </div>
                    </li>
                    <li class="search-date">
                        <div class="form-inline">
                            <div class="input-group input-append date">
                                <span class="input-group-addon" style="padding: 6px 4px;">Quantity in MT</span>
                                <input type="number" style="max-width:175px" ng-model="Quantity" name="Quantity" placeholder="Quantity in MT" class="to_date form-control remove-arrows" />
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="list-inline order-history-search">
                    <li class="search-date">
                        <div class="form-inline">
                            <div class="input-group input-append date">
                                <span class="input-group-addon" style="padding: 6px 4px;">Rate per MT</span>
                                <input type="number" style="max-width:175px" ng-model="Price" name="Price" placeholder="Rate per MT" class="to_date form-control remove-arrows" ng-blur="CalculateTotal()" />
                            </div>
                        </div>
                    </li>
                    <li class="search-date">
                        <div class="form-inline">
                            <div class="input-group input-append date">
                                <span class="input-group-addon" style="padding: 6px 4px;">Total Value</span>
                                <input type="number" style="max-width:175px" ng-model="Totalvalue" name="TotalValue" placeholder="Total Value" class="to_date form-control remove-arrows" readonly />
                            </div>
                        </div>
                    </li>
                    <li class="search-btn">
                        <input type="button" class="btn btn-prime" value="Add" ng-click="Add()" />
                        <!--<input type="button" class="btn btn-light" value="Reset" ng-click="Reset(Orders,orderPaymentmode)" />-->
                    </li>
                </ul>
            </div>
            <div class="">
                <div class="col-md-offset-4 col-md-6"  style="padding-top:25px">
                    <div class="pull-left">
                        <button class="btn btn-primary" id="btnSave" value="Save" ng-click="GenerateInvoice('InvoiceForm')">Generate Invoice</button>&nbsp;&nbsp;
                    </div>
                    <div class="pull-left">
                        <button class="btn btn-default" value="Cancel" ng-click="Cancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
        <!--<div class="modal fade" tabindex="-1" id="EditFormModal"
             data-keyboard="false" data-backdrop="static" ng-model="EditFormModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="" id="printSectionId">
                        <div class="invoice container">
                            <button type="button" style="color:orangered;font-size:30px" ng-click="close()" class="close closeIcon-clr" data-dismiss="modal">&times;</button>
                            <h4 class="text-center bold p5 text-uppercase m-b-none">Transport-Invoice</h4>
                            <hr class="" style="margin: 5px 0;border-color: #000;" />
                            <table class="table no-border no-margin">
                                <tr>
                                    <td>
                                        <img src="../dist/img/image.png" alt="Logo" class="" style="max-width:80px;" />
                                        <div class="sbold" style="font-size:large">Sree Venkateshwara Transport</div>
                                    </td>
                                    <td style="width: 40%;">
                                        <address class="m-b-5">
                                            <div>
                                                {{SvtDetails.Address1}},
                                                {{SvtDetails.Address2}},
                                                {{SvtDetails.Address3}}.<br />
                                                {{SvtDetails.MobileNumber}}.<br />
                                                {{SvtDetails.EmailID}}.
                                            </div>
                                        </address>
                                    </td>
                                </tr>
                            </table>
                            <hr class="" style="margin: 5px 0;border-color: #000;" />
                            <table class="table no-border no-margin">
                                <tr>
                                    <td style="padding-left:0">
                                        <p class="sbold no-margin">Customer Details :</p>
                                        <table class="table no-border no-margin autowidth table-condensed">
                                            <tr>
                                                <td>M/s .{{SvtDetails.CompanyName}},</td>
                                            </tr>
                                            <tr>
                                                <td>{{SvtDetails.HouseNum}},</td>
                                            </tr>
                                            <tr>
                                                <td>{{SvtDetails.Add1}},{{SvtDetails.Add2}}</td>
                                            </tr>
                                            <tr>
                                                <td>{{SvtDetails.Add3}}</td>
                                            </tr>
                                            <tr>
                                                <td><b>GSTN :</b>{{SvtDetails.GSTNUM}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="width:40%;">
                                        <table class="table no-border no-margin autowidth table-condensed">
                                            <tr>
                                                <td>Invoice No</td>
                                                <td>{{InvoiceDetails.SVTInvoiceID}}</td>
                                            </tr>
                                            <tr>
                                                <td>Invoice Date</td>
                                                <td>{{InvoiceDetails.InvoiceDate}}</td>
                                            </tr>
                                            <tr>
                                                <td>SO Num</td>
                                                <td>{{InvoiceDetails.SONum}}</td>
                                            </tr>
                                            <tr>
                                                <td>Mine</td>
                                                <td>{{InvoiceDetails.Mine}}</td>
                                            </tr>
                                            <tr>
                                                <td>Material Desc</td>
                                                <td>{{InvoiceDetails.MaterialDesc}}</td>
                                            </tr>
                                            <tr>
                                                <td>HSN Code</td>
                                                <td>{{InvoiceDetails.HSNCode}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table class="table table-bordered table-condensed table-striped">
                                <tr class="fc-theme">
                                    <th class="sbold" style="width:1%">S.No</th>
                                    <th class="sbold text-center">DC Date</th>
                                    <th class="sbold text-center">Vechile No</th>
                                    <th class="sbold text-center">DC Number</th>
                                    <th class="sbold text-center">Qty in MT</th>
                                    <th class="sbold text-center">Rate/MT</th>
                                    <th class="sbold text-center">Total </th>
                                </tr>
                                <tr class="" ng-repeat="Invoice in InvoiceDetailsList">
                                    <td class="">{{$index+1}}</td>
                                    <td class="text-center">{{Invoice.DcDate | date:'dd-MM-yyyy'}}</td>
                                    <td class="text-center">{{Invoice.VehicleNumber}}</td>
                                    <td class="text-center">{{Invoice.DCNum}}</td>
                                    <td class="text-center">{{Invoice.Quantity}}</td>
                                    <td class="text-center">{{Invoice.UnitPrice | INR}}</td>
                                    <td class="text-center">{{Invoice.TotalAmount | INR}}</td>
                                </tr>
                               
                            </table>
                            <hr class="" style="margin: 10px 108px;border-color: #000;margin-left:224px;margin-right:0px" />
                            <table class="table no-border no-margin">
                                <tr style="">
                                    <td class="bold text-uppercase" style="padding-left:260px">Total</td>
                                    <td class="bold" style="padding-left:60px;padding-right:120px;">{{TotalQuantity }}</td>
                                    <td class="text-center"></td>
                                    <td class="fc-theme bold text-center">{{TotalOrderedAmount|INR }}</td>
                                </tr>
                            </table>
                            <table class="table no-border no-margin">
                                <tr>
                                    <td class="sbold">In Words</td>
                                </tr>
                                <tr>
                                    <td>Rupees {{TotalIncoiceAmount | convertToWord}} Only</td>
                                </tr>
                                <tr>
                                    <td class="">GST Num: <b>{{SvtDetails.GSTNumber}}</b></td>
                                    <td class="sbold">For Sree Venkatehswara Transport</td>
                                </tr>
                                <tr>
                                    <td class="">PAN Num: <b>{{SvtDetails.PANNumber}}</b></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td class="">Authorized Signatory</td>
                                </tr>
                            </table>
                            <table class="table no-border no-margin">
                                <tr>
                                    <td class="small text-center" style="">
                                        <input type="button" class="btn btn-success print-hide" value="Print" ng-click="Print()" />
                                        <input type="button" class="btn btn-warning print-hide" value="Save As PDF" ng-click="SaveAsPdf()" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>
<style>
    .remove-arrows::-webkit-inner-spin-button,
    .remove-arrows::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>